<div class="align-end mb-2">
    <button type="button" label="Adicionar contato" pButton pTooltip="Adicionar contato" tooltipPosition="top" icon="pi pi-plus"
    (click)="addContact()"></button>
</div>
<p-toast></p-toast>
<p-confirmDialog acceptLabel="Sim" rejectLabel="Não" ></p-confirmDialog>
<p-table [value]="item" [tableStyle]="{ 'min-width': '50rem' }" *ngIf="!isLoading">
    <ng-template pTemplate="header">
        <tr>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Whatsapp</th>
            <th class="text-center"><i class="pi pi-user-edit"></i></th>
            <th class="text-center"><i class="pi pi-trash"></i></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr>
            <td>{{ contact.phone | mask: '(00) 0000-0000' }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.whatsapp | mask: '(00) 0?0000-0000' }}</td>
            <td class="text-center">
                <p-button styleClass="p-button-info" pTooltip="Editar contato" tooltipPosition="top" icon="pi pi-pencil" (click)="editContact(contact)"></p-button>
            </td>
            <td class="text-center">
                <p-button styleClass="p-button-danger" pTooltip="Deletar contato" tooltipPosition="top" icon="pi pi-trash" (click)="deleteContact(contact.id)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
<ng-container *ngIf="!isLoading && !item.length">
    <div class="text-center">
      <h3>Nada encontrado</h3>
    </div>
  </ng-container>
<div class="mt-4 text-center" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>