<div class="mt-1">
    <p-card>
        <form [formGroup]="form" >
            <div class="flex flex-column gap-2">
                <label htmlFor="phone">Telefone</label>
                <input pInputText id="phone" formControlName="phone" mask="(00) 0000-0000"/>
            </div>
            <div class="flex flex-column gap-2 mt-1">
                <label htmlFor="email">E-mail</label>
                <input type="email" pInputText id="email" formControlName="email" />
            </div>
            <div class="flex flex-column gap-2 mt-1">
                <label htmlFor="whatsapp">Whatsapp</label>
                <input pInputText id="whatsapp" formControlName="whatsapp" mask="(00) 00000-0000"/>
            </div>
            <div class="flex justify-content-center mt-2">
                <button pButton class="p-button-success" (click)="save()" [attr.disabled]="!form.valid ? true : null">Salvar</button>
            </div>
        </form>
    </p-card>
</div>